@font-face {
   font-family: 'lazy_dog';
   font-display: swap;
   src: url('file:///C:/Users/Marian/AppData/Local/Mobirise.com/Mobirise/projects/project-2024-11-30_143720/fonts/lazy_dog/font.ttf');
}
